* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button {
  border: none;
  outline: none;
}
body {
  background-color: #e7bebf;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: large;
  color: #480082;
  padding: 3rem 0;
}
.todo-form {
  width: 45%;
  padding-bottom: 3rem;
}
.todo-header {
  display: flex;
  width: 100%;
}
.todo-input {
  display: flex;
  border: none;
  height: 50px;
  width: 100%;
  min-width: 150px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 1rem;
}
.todo-add-button {
  border: none;
  width: 100px;
  min-width: 100px;
  font-size: 20px;
  background-color: #480082;
  color: white;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.todo-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}
.todo-topic {
  background-color: #8c00ff;
  width: 100%;
  min-width: 100px;
  list-style: none;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.todo-div {
  display: flex;
  height: 50px;
  transition: all 0.75s ease;
}
.todo-complete-button {
  background-color: #00b000;
  color: white;
  font-size: 20px;
  padding: 15px 16.25px;
}
.todo-trash-button {
  background-color: #b00000;
  color: white;
  font-size: 20px;
  padding: 15px 16.25px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.done-todo-input {
  background-color: #d199ff;
  text-decoration: line-through;
  color: black;
}
.done-todo-button {
  background-color: gray;
  transform: rotate(180deg);
}
.delete-transition1 {
  transform: translateX(100px);
  opacity: 0;
}
.delete-transition2 {
  transform: translateX(-100px);
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .todo-form {
    width: 60%;
  }
  .header {
    p {
      font-size: 18px;
    }
  }
  .todo-add-button {
    min-width: 50px;
  }
}
@media screen and (max-width: 600px) {
  .todo-form {
    width: 70%;
  }
  .header {
    p {
      font-size: 12px;
    }
  }
}
/* @media screen and (max-width: 400px) {
  .todo-add-button {
    min-width: 50px;
  }
} */
